@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p9lolt');
  src:  url('../fonts/icomoon.eot?p9lolt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?p9lolt') format('woff2'),
    url('../fonts/icomoon.ttf?p9lolt') format('truetype'),
    url('../fonts/icomoon.woff?p9lolt') format('woff'),
    url('../fonts/icomoon.svg?p9lolt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bin:before {
  content: "\e904";
}
.icon-cross:before {
  content: "\e905";
}
.icon-cancel:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e905";
}
.icon-quit:before {
  content: "\e905";
}
.icon-remove:before {
  content: "\e905";
}
.icon-move:before {
  content: "\e903";
}
.icon-edit-copy:before {
  content: "\e902";
}
.icon-view-slider:before {
  content: "\e900";
}
.icon-view-grid:before {
  content: "\e901";
}


/* Replace Cinza Grid dashicon */
  
#menu-posts-cgrid .dashicons-admin-generic:before {
    font-family: 'icoMoon' !important;
    content: '\e901';
    font-size: 1.3em!important;
}

/* Shortcode */

.cgrid_shortcode_copy {
	max-width: 260px;
}

#cgrid-shortcode .inside,
tbody .column-shortcode {
    margin: 0;
    display: flex;
	justify-content: space-between;
}

#cgrid-shortcode .inside {
    overflow: hidden;
    padding: 12px;
}

#cgrid-shortcode .cgrid_shortcode_copy_input,
tbody .column-shortcode .cgrid_shortcode_copy_input {
	width: calc(100% - 90px);
}

#cgrid-shortcode .button,
tbody .column-shortcode .button {
	position: relative;
    width: 80px;
    height: 30px;
	text-align: center;
}

#cgrid-shortcode .button .icon,
tbody .column-shortcode .button .icon {
	margin-right: 3px;
}