/* Options */

#cgrid-optionset {
    padding: 10px 0;
}

#cgrid-optionset .cgrid-heading p {
    margin: 15px 0 5px;
    padding: 15px 0 0;
    font-weight: bold;
    border-top: 1px solid #c3c4c7;
}

#cgrid-optionset .cgrid-options {
    padding: 10px;
}

#cgrid-optionset .cgrid-options.col-1 {
    width: 160px;
}

#cgrid-optionset .cgrid-options.col-2 {
	width: calc(100% - 160px);
}

#cgrid-optionset .cgrid-options input[type="text"],
#cgrid-optionset .cgrid-options select {
    width: 150px;
}

#cgrid-optionset thead {
    background: #f1f1f1;
}

#cgrid-optionset thead p {
    margin: 5px 0;
    font-weight: bold;
}

#cgrid-options textarea {
    height: 150px;
}

#cgrid-optionset.cgrid-sizeset .size-headings td {
	font-weight: bold;
	padding-top: 20px;
}

#cgrid-optionset.cgrid-sizeset .cgrid-options input[type="number"] {
	width: 100px;
}

#cgrid-optionset.cgrid-sizeset td.cgrid-options {
	width: 100px !important;
}

#cgrid-optionset.cgrid-sizeset ul {
    list-style: disc inside;
}

/* Skin */

#cgrid-skin textarea {
    height: 150px;
    margin: 10px 0;
}

#cgrid-skin td:first-child {padding-right: 20px;}

/* Documentation */

#cgrid-documentation .inside {
    overflow: hidden;
    padding: 12px;
    margin: 0;
}

#cgrid-documentation .button {
    width: 100%;
    text-align: center;
}

/* Others */

.rank-math-seo-score {display: none !important;}

/* Breakpoins */

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 782px) {

}

@media screen and (max-width: 682px) {

}