/* Options */

#cgrid-optionset {
    padding: 10px 0;
}

#cgrid-optionset .cgrid-heading p {
    margin: 15px 0 5px;
    padding: 15px 0 0;
    font-weight: bold;
    border-top: 1px solid #c3c4c7;
}

#cgrid-optionset .cgrid-options {
    padding: 10px;
    box-sizing: border-box;
}

#cgrid-optionset .cgrid-options.col-1 {
    width: 170px;
}

#cgrid-optionset .cgrid-options.col-2 {
	width: calc(100% - 160px);
}

#cgrid-optionset .cgrid-options input[type="text"],
#cgrid-optionset .cgrid-options input[type="number"],
#cgrid-optionset .cgrid-options select {
    width: 200px;
}

#cgrid-optionset .cgrid-options input[type="text"]#cgrid_tax_terms {
	width: 100% !important;
}

#cgrid-optionset thead {
    background: #f1f1f1;
}

#cgrid-optionset thead p {
    margin: 5px 0;
    font-weight: bold;
}

#cgrid-optionset tbody > tr:first-of-type > td {
	padding-top: 28px !important;
}

#cgrid-optionset tbody > tr:first-of-type > td > p:first-of-type {
	margin-top: 0;
}

#cgrid-options textarea {
    height: 150px;
    margin: 10px 0 0;
}

#cgrid-optionset .meta-disabled {
	display: none;
}

#cgrid-options tr.tr-separator td {
    padding: 0px 0px 20px;
	border-bottom: 3px solid #f1f1f1;
}

#cgrid-optionset.cgrid-sizeset {
	padding: 0;
}

#cgrid-optionset.cgrid-sizeset .size-headings td {
	font-weight: bold;
	padding-top: 20px;
}

#cgrid-optionset.cgrid-sizeset td.cgrid-options {
	width: 150px !important;
}

#cgrid-optionset.cgrid-sizeset td.cgrid-options.col-1 {
	font-weight: bold;
}

#cgrid-optionset.cgrid-sizeset .cgrid-options input[type="number"] {
	width: 100px;
}

#cgrid-optionset ul {
    list-style: disc inside !important;
    margin: 0 0 0 3px;
}

/* Skin */

#cgrid-skin textarea {
    height: 150px;
    margin: 10px 0 0;
}

#cgrid-skin .cgrid-skin-tags {
	padding-bottom: 10px;
}

#cgrid-skin .cgrid-skin-tags td:first-child {
	padding-right: 20px;
}

/* Documentation */

#cgrid-documentation .inside,
#cgrid-shortcode .inside,
#cgrid-credits .inside {
    overflow: hidden;
    padding: 12px;
    margin: 0;
}

#cgrid-documentation .button {
    width: 100%;
    text-align: center;
}

/* Credits */

#cgrid-credits .inside {
    overflow: hidden;
    padding: 12px;
    margin: 0;
}

#cgrid-credits a {
	width: 100%;
    box-sizing: border-box;
	display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #2271b1;
    border-radius: 3px;
    background: #f6f7f7;
    text-decoration: none !important;
}

#cgrid-credits a:first-child {
	margin-bottom: 10px;
}

#cgrid-credits a:hover {
    background: #f0f0f1;
    border-color: #0a4b78;
    color: #0a4b78;
}

#cgrid-credits a img {
	width: 50px;
	margin-right: 10px;
}

/* Others */

.rank-math-seo-score {display: none !important;}

/* Breakpoins */

@media screen and (max-width: 899px) {
	/* Force table to not be like tables anymore */
	table.cgrid-sizeset, .cgrid-sizeset thead, .cgrid-sizeset tbody, .cgrid-sizeset th, .cgrid-sizeset td, .cgrid-sizeset tr { 
		width: 100%;
	    display: flex;
	    flex-wrap: wrap;
	    align-items: center;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.cgrid-sizeset tr.size-headings { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	#cgrid-optionset.cgrid-sizeset td.cgrid-options.col-1 {
	    padding: 20px 10px !important;
	}
	
 	.cgrid-sizeset tr {
	 	overflow: hidden;
 	}
	
	#cgrid-optionset.cgrid-sizeset td.cgrid-options { 
		/* Behave  like a "row" */
		width: 100% !important;
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding: 10px 10px 10px 200px !important;
	}
	
	.cgrid-sizeset td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 15px;
		left: 10px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	.cgrid-sizeset td span {
		margin-left: 5px;
	}
	
	/*
	Label the data
	*/
	.cgrid-sizeset td:nth-of-type(1):before { content: ""; }
	.cgrid-sizeset td:nth-of-type(2):before { content: "Min-width"; }
	.cgrid-sizeset td:nth-of-type(3):before { content: "Number of columns"; }
	.cgrid-sizeset td:nth-of-type(4):before { content: "Items min-height"; }
	.cgrid-sizeset td:nth-of-type(5):before { content: "Items spacing"; }
}

@media screen and (max-width: 782px) {
	.cgrid-sizeset td:before {top: 20px;}
}

@media screen and (max-width: 599px) {
	#cgrid-optionset .cgrid-options.col-1 {
	    width: 100%;
	    display: block;
	    padding: 10px 10px 5px;
	}
	
	#cgrid-optionset .cgrid-options.col-2 {
	    width: 100%;
	    display: block;
	    padding: 0px 10px 10px;
	}
	
	.cgrid-skin-tags tr {display: block; padding-bottom: 15px;}
	.cgrid-skin-tags td {display: block;}
	
	#cgrid-optionset tbody > tr:first-of-type > td:not(.col-1) {
		padding-top: 0px !important;
	}
}

@media screen and (max-width: 399px) {
    #cgrid-optionset.cgrid-sizeset td.cgrid-options {padding-left: 150px !important;}
    
    #cgrid-optionset.cgrid-sizeset .cgrid-options input[type="number"] {width: 80px;}
}