[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-view-grid:before {
    content: "\e901";
}

/* Replace Cinza Grid dashicon */
  
#menu-posts-cinza_grid .dashicons-admin-generic:before {
    font-family: 'icoMoon' !important;
    content: '\e901';
    font-size: 1.3em!important;
}