/* Sorts and Filters */

.cinza-grid-button-group  {
	margin-bottom: 20px;
}

.cinza-grid-button-group .button:not(:last-child) {
	margin-right: 10px;
}

.cinza-grid-button-group .button:active, 
.cinza-grid-button-group .button.is-checked {
	background-color: #000;
}

/* Grid */

.cinza-grid:after {
	content: '';
	display: block;
	clear: both;
}

/* Grid Item */
			
.cinza-grid-item {
	padding: 20px;
	background: #f1f1f1;
}