/* Sorts and Filters */

.cinza-grid-button-group  {
	margin-bottom: 20px;
}

.cinza-grid-button-group .button:active,
.cinza-grid-button-group .button.is-checked {
	background-color: #000;
}

/* Grid */

.cinza-grid {
    width: calc(100% + 20px);
    margin: 10px -10px;
}

.cinza-grid:after {
	content: '';
	display: block;
	clear: both;
}

/* Grid Item */

.cinza-grid .cinza-grid-item {
	background: #f1f1f1;
	margin: 10px;
	padding: 30px;
}